################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WeeklyChallenge/Server/appsettings.json
/WeeklyChallenge/Server/appsettings.Development.json
