.bottom-spacing[b-titi1tate7] {
    margin-bottom: 10px;
}

.top-spacing[b-titi1tate7] {
    margin-top: 10px;
}

.left-inner-spacing[b-titi1tate7] {
    padding-left: 10px;
}

.name-column[b-titi1tate7] {
    word-break: break-all;
}

tr:nth-child(even)[b-titi1tate7] {
    background-color: #8080800f
}

table[b-titi1tate7] {
    min-width: -webkit-fill-available;
}

tr td[b-titi1tate7] {
    border-width: 0.5px;
}

.name-spacing[b-titi1tate7] {
    margin-top: 30px;
    margin-bottom: 20px;
}

.first-column[b-titi1tate7] {
    width: 60vw;
}

.second-column[b-titi1tate7] {
    width: 28vw;
}





