@page "/add-task"
@inject NavigationManager navigationManager;
@inject IToDoService toDoService;
@inject IUserService userService;
@using System.Globalization;
@using System.Data.SqlClient;
@using System.Data;
@using WeeklyChallenge.Shared;

<PageTitle>Aufgabe hinzufügen</PageTitle>

<h3>Aufgabe hinzufügen:</h3>

@if (CheckSubmit)
{
    <p class="alert-warning">Aufgabe gespeichert!</p>
}

<EditForm Model="toDo" OnSubmit="Submit">
    <div>
        <label for="name">Name:</label>
        <InputText id="name" @bind-Value="toDo.Name" class="form-control"></InputText>
    </div>
    <div style="margin-top:10px;">
        <label for="weekNumber">Woche (aktuelle KW ist @currentWeek):</label>
        <InputNumber id="weekNumber" min="1" max="56" @bind-Value="toDo.WeekNumber" class="form-control"></InputNumber>
    </div>
    <div style="margin-top:10px;">
        <label for="user">Wer soll die Aufgabe erledigen?</label>
        <InputSelect style="width: 150px;" id="personId" @bind-Value="toDo.PersonId">
            @foreach (var user in users)
            {
                <option value="@user.Id">@user.Name</option>
            }
        </InputSelect>
    </div>
    <button type="submit" disabled="@(AllValid() ? false : true)" class="btn btn-primary" style="margin-top: 10px;">Speichern</button>
</EditForm>

@code {
    private ToDo toDo = new ToDo();
    private List<User> users = new List<User>();

    public bool CheckSubmit = false;

    int currentWeek = ISOWeek.GetWeekOfYear(DateTime.Now);

    protected override async Task OnInitializedAsync()
    {
        await userService.GetUsers();
        users.Add(new User() { Id = "ALL", Name = "Alle", Deleted = false });
        users.AddRange(userService.Users.Where(x => !x.Deleted).ToList());

        toDo.WeekNumber = currentWeek;
    }

    private bool AllValid()
    {
        return toDo.Name != "" && toDo.WeekNumber > 0 && toDo.WeekNumber <= 56;
    }

    void Submit()
    {
        toDo.Id = System.Guid.NewGuid().ToString();
        if (toDo.PersonId == "")
        {
            toDo.PersonId = "ALL";
        }
        toDoService.CreateToDo(toDo);
        CheckSubmit = true;
    }
}
